.study-card__inner {
  align-items: center;
  background-image: url("../assets/icons/pattern-flashcard-bg.svg");
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  min-height: 360px;
  padding: 1.5rem 1rem;
  position: relative;
  text-align: center;
  transition: background-color 0.3s ease;

  width: 100%;
  p {
    color: var(--color-header-text);
  }

  &:has(h1) {
    background-color: var(--colors-pink-400);
  }

  &:not(:has(h1)) {
    background-color: var(--colors-blue-400);
  }
}

.inner__progress {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.inner__text {
  align-self: stretch;
  color: var(--color-text-header);
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  position: relative;

  &::before {
    background-image: url("../assets/icons/pattern-star-yellow.svg");
    bottom: 0;
    content: "";
    height: 2rem;
    left: 1rem;
    position: absolute;
    width: 2rem;
    z-index: 100;
  }

  &::after {
    background-image: url("../assets/icons/pattern-star-blue.svg");
    bottom: 100%;
    content: "";
    height: 1.5rem;
    right: 1rem;
    position: absolute;
    width: 1.5rem;
    z-index: 100;
  }
}
.inner__text--helper {
  font-weight: 500;
  line-height: 1.2;
  opacity: 0.8;
}
.inner__text--answer {
  font-weight: 600;
  font-size: clamp(1.125rem, 0.993rem + 0.5634vw, 1.5rem);
}
