@charset "UTF-8";
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/poppins-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/poppins-v24-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/poppins-v24-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/poppins-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* COLOR */
  --colors-neutral-0: #ffffff;
  --colors-neutral-100: #f7f3f0;
  --colors-neutral-600: #6d5b4d;
  --colors-neutral-900: #2e1401;
  --colors-yellow-500: #f8cb46;
  --colors-blue-400: #92adeb;
  --colors-teal-400: #47d9c9;
  --colors-pink-500: #f073a3;
  --colors-pink-400: #fc8ae5;
  --colors-blue-600: #5072c7;
  --colors-pink-700: #e11966;

  /* SPACING */
  --spacing-0: 0;
  --spacing-100: 8;
  --spacing-125: 10;
  --spacing-150: 12;
  --spacing-200: 16;
  --spacing-250: 20;
  --spacing-300: 24;
  --spacing-400: 32;
  --spacing-500: 40;
  --spacing-600: 48;
  --spacing-800: 64;
  --spacing-1000: 80;
  --spacing-1200: 96;
  --spacing-1400: 112;
  --spacing-1600: 128;
  --spacing-1800: 140;
  --spacing-25: 2;
  --spacing-50: 4;
  --spacing-75: 6;

  /* RADIUS */
  --corner-radius-0: 0;
  --corner-radius-2: 2;
  --corner-radius-4: 4;
  --corner-radius-6: 6;
  --corner-radius-8: 8;
  --corner-radius-10: 10;
  --corner-radius-12: 12;
  --corner-radius-16: 16;
  --corner-radius-20: 20;
  --corner-radius-24: 24;
  --corner-radius-full: 999;

  /* COLORS */
  --color-primary: #1e3a8a;
  --color-primary-hover: #1e40af;
  --color-accent: var(--colors-yellow-500);
  --color-bg: var(--colors-neutral-100);

  --color-text-header: var(--colors-neutral-900);
  --color-text-body: var(--colors-neutral-600);

  --color-border: var(--colors-neutral-900);
  --color-bg-surface: var(--colors-neutral-0);

  /* TYPOGRAPHY */
  --font-header: "Poppins", Arial, Helvetica, sans-serif;
  --font-body: "Poppins", Arial, Helvetica, sans-serif;

  /* LAYOUT */
  --container-max-width: 70rem;
  --container-width: 92%;
  --section-spacing: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);

  /* Radius */
  --radius-xs: calc(var(--corner-radius-4) / 16 * 1rem);
  --radius-full: calc(var(--corner-radius-full)/16 * 1rem);
}
/*~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~~>
<~~           Reset            ~~>
<~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
    overflow-x: hidden;
    scrollbar-gutter: stable;
  }
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-body);
  display: flex;
  flex-direction: column;
  font-family: var(--font-body);
  min-height: clamp(53.125rem, 49.2958rem + 16.338vw, 64rem);
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
select,
textarea {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-header);
  font-family: var(--font-header);
  font-weight: 700;
  line-height: 1.2;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~~>
<~~    Global Element Styles   ~~>
<~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~*/

section {
  padding: var(--section-spacing) 0;
}

p {
  color: var(--color-text-body);
  line-height: 1.4;
}

form.card {
  align-items: start;
  gap: 1.5rem;
  padding: 2rem;

  .input-group {
    align-self: stretch;
  }

  label {
    display: block;
  }
}

input:not([type="checkbox"]),
textarea {
  background-color: var(--color-bg-surface);
  border: 1px solid var(--color-border);
  border-radius: calc(var(--corner-radius-6) / 16 * 1rem);
  padding: 1rem;
  width: 100%;

  &:hover {
    box-shadow: 2px 2px 0 0 var(--colors-neutral-900);
  }

  &:focus-visible {
    border-color: var(--colors-blue-600);
    box-shadow: 2px 2px 0 0 var(--colors-blue-600);
    outline: none;
  }

  &:has(+ .error-message) {
    border-color: var(--colors-pink-700);
    box-shadow: 2px 2px 0 0 var(--colors-pink-700);
  }
}

textarea {
  resize: vertical;
}

input[type="checkbox"] {
  accent-color: var(--color-accent);
  background: var(--color-bg-surface);
  border: 1px solid var(--color-border);
  height: 1rem;
  width: 1rem;

  &:hover {
    box-shadow: 1px 1px 0 0 var(--colors-neutral-900);
    cursor: pointer;

    & + label {
      cursor: pointer;
    }
  }

  &:focus-visible,
  &:active {
    border-radius: var(--radius-xs);
    box-shadow:
      0 0 0 2px var(--colors-neutral-0),
      0 0 0 4px var(--colors-blue-600);

    outline: none;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: clamp(1.5rem, 1.1479rem + 1.5023vw, 2.5rem);
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

/*~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~~>
<~~         Utilities          ~~>
<~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~*/

.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
  width: var(--container-width);
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.accent-text {
  color: var(--color-accent);
}

.btn {
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: calc(var(--corner-radius-full) / 16 * 1rem);
  box-shadow: 2px 2px 0 0 var(--color-border);
  color: var(--color-text-header);
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 500;
  gap: 0.5rem;
  justify-content: center;
  line-height: 1.2;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  &:not(:disabled) {
    &:hover {
      box-shadow: 4px 4px 0 0 var(--colors-neutral-900);
    }

    &:focus-visible,
    &:active {
      box-shadow: 3px 3px 0 0 var(--colors-blue-600);
      outline: none;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.btn--primary {
  background-color: var(--color-accent);
}

.btn--secondary {
  background-color: var(--colors-neutral-0);
}

.btn--border {
  background-color: var(--colors-neutral-0);
  box-shadow: none;
  padding: 0.75rem 1rem;

  &:hover {
    background-color: var(--colors-neutral-100);
    box-shadow: none;
  }

  &:active {
    box-shadow:
      0 0 0 2px var(--colors-neutral-0),
      0 0 0 4px var(--colors-blue-600);
  }
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.card {
  align-items: center;
  background-color: var(--colors-neutral-0);
  border-radius: 1rem;
  border: 1px solid var(--color-border);
  border-right-width: 3px;
  border-bottom-width: 3px;
  display: flex;
  flex-direction: column;
}

.tag {
  align-items: center;
  background: var(--color-bg-surface);
  border: 1px solid var(--color-border);
  border-radius: calc(var(--corner-radius-full) / 16 * 1rem);
  box-shadow: 1px 1px 0 0 #000;
  display: inline-flex;
  color: var(--color-text-header);
  font-size: 0.75rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1.3;
  letter-spacing: -0.36px;
  padding: 0.375rem 0.75rem;
  text-wrap: nowrap;
}

.progress__bar {
  background-color: var(--color-bg-surface);
  background-image: linear-gradient(
    to right,
    var(--color-border) var(--progress),
    transparent var(--progress)
  );
  border: 1px solid var(--color-border);
  border-radius: 100vw;
  height: clamp(0.5rem, 0.412rem + 0.3756vw, 0.75rem);
  width: clamp(3.75rem, 2.8697rem + 3.7559vw, 6.25rem);
}

.progress__amount {
  color: var(--color-header-text);
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: -0.36px;
  line-height: 1.3;
}

.self-centered {
  align-self: center;
}

.bg-blue {
  background-color: var(--colors-blue-400);
}

.bg-teal {
  background-color: var(--colors-teal-400);
}

.bg-pink-bright {
  background-color: var(--colors-pink-700);
}

.bg-pink {
  background-color: var(--colors-pink-400);
}

.destructive {
  color: red !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: inset(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.skip {
  background-color: var(--color-primary);
  color: var(--color-header-text);
  left: -9999px;
  opacity: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  z-index: 999;

  &:focus {
    font-weight: 700;
    left: 50%;
    opacity: 1;
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;

    transform: translateX(-50%);
  }
}

@media (max-width: 767px) {
  .hide-on-mobile {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: inset(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
  }

  .icon-btn {
    padding: 0.75rem;
  }
}

/*~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~~>
<~~         Specifics          ~~>
<~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~*/

.study-card__header {
  align-self: stretch;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  padding: clamp(0.75rem, 0.2729rem + 2.0356vw, 1.25rem)
    clamp(1rem, 0.7615rem + 1.0178vw, 1.25rem);
}

.study-card__main {
  align-self: stretch;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: clamp(0.75rem, 0.2729rem + 2.0356vw, 1.25rem)
    clamp(1rem, 0.7615rem + 1.0178vw, 1.25rem);

  .buttons {
    display: flex;
    flex-direction: column;
    gap: clamp(0.625rem, 0.4049rem + 0.939vw, 1.25rem);
  }
}

.study-card__footer {
  align-items: center;
  align-self: stretch;
  border-top: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  padding: clamp(0.75rem, 0.2729rem + 2.0356vw, 1.25rem)
    clamp(1rem, 0.7615rem + 1.0178vw, 1.25rem);
}

.flashcard {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: clamp(14.875rem, 14.4349rem + 1.8779vw, 16.125rem);
  position: relative;
}

.flashcard__header {
  border-bottom: 1px solid var(--color-border);
  padding: 1rem;
}

.flashcard__answer {
  flex: 1;

  padding: 1rem 0.5rem;
  p {
    color: var(--color-text-header);
    font-size: 0.875rem;
    &:first-of-type {
      opacity: 0.6;
    }
  }
}

.flashcard__footer {
  align-items: stretch;
  border-top: 1px solid var(--color-border);
  display: grid;
  flex-shrink: 0;
  gap: 0.5rem;
  grid-template-columns: auto 1fr auto;
  min-height: 3.5rem;
  padding-inline: 1rem;

  .footer__progress {
    align-items: center;
    border-inline-end: 1px solid var(--color-border);
    display: flex;
    gap: 0.5rem;
    padding-inline-end: 0.675rem;
  }

  .tag-container {
    align-items: center;
    border-inline-end: 1px solid var(--color-border);
    display: flex;
    justify-content: center;
    padding-inline-end: 0.675rem;
  }

  .action-menu {
    align-items: center;
    align-self: stretch;
    display: flex;
    justify-content: flex-end;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: grid;
  place-items: center;
}

@media (min-width: 48rem) {
  .study-card__main {
    align-items: center;
    .buttons {
      flex-direction: row;
    }
  }
  .study-card__header {
    align-items: center;
  }

  .card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 90rem) {
  .card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  main {
    display: flex;
    gap: 2rem;
    margin-inline: auto;
    max-width: var(--container-max-width);
    section {
      display: flex;
      .container {
        flex: 1;
        margin: 0;
      }

      &:first-of-type {
        flex: 1;
      }

      &:last-of-type {
        min-width: 392px;
      }
    }
  }
}
