<header>
  <div class="container">
    <div class="navbar">
      <a
        href="{{ '/' | url }}"
        class="logo"
        aria-label="{{ site.name }} - home"
      >
        <div class="logo-small">{% include "svgs/logo-small.svg" %}</div>
        <div class="logo-large">{% include "svgs/logo-large.svg" %}</div>
      </a>
      <div class="btn btn--secondary mode-toggle">
        <button>Study Mode</button>
        <button class="active">All Cards</button>
      </div>
    </div>
  </div>
</header>
