<header>
  <div class="container">
    <div class="navbar">
      <a
        href="{{ '/' | url }}"
        class="logo"
        aria-label="{{ site.name }} - home"
      >
        <div class="logo-small">{% include "svgs/logo-small.svg" %}</div>
        <div class="logo-large">{% include "svgs/logo-large.svg" %}</div>
      </a>
      <nav
        class="main-nav"
        aria-label="main"
      >
        <a
          href="#"
          class="btn--primary"
        >
          Contact Us
        </a>
      </nav>
    </div>
  </div>
</header>
